.image1{
position: relative;
width: 450px;
}
.image1 h1{
color: white;
position: absolute;
top: 40px;
left: 20px;
}
.mainstory{
display: flex;
flex-wrap: wrap;
width: 450px;

}
.fbistory{
  width: 245px;
  display: flex;
  flex-wrap: wrap;

}

.motherofall{
flex-direction: row;
width: 765px;
display: flex;
justify-content: space-around;

}

.columnleft, .columnright{
width: 200px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.catstext{
width: 240px;
}
.cats{
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-left: 40px;
}
.twocolumns{
flex-direction: row;
display: flex;
width: 475px;
justify-content: space-around;
align-items: flex-start;

}
.image2, .image3, .image4{
position: relative;
}
.centertext{
  position: absolute;
  width: 170px;
  text-align: center;
  top: 1020px;
  left: 332px;
}
.centertext2{
  position: absolute;
  width: 170px;
  text-align: center;
  top: 1020px;
  left: 560px;
}
.centertext3{
  position: absolute;
  width: 170px;
  text-align: center;
  top: 790px;
  left: 850px;
}
body{
  margin-top: 120px;
  margin-bottom: 80px;
}
h3{
  color: white;
}
.mainstorybottom{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-left: 287px;

}
.box{
  background-color: gainsboro;
  width: 210px;
  padding: 7px;
  border-bottom: 1px solid black;
  margin-left: 20px;
}
.cookiepanel{
display: flex;
flex-direction: column;
width: 270px;
}
.finalwrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
h4{
  text-align: center;
}
.list{
display: flex;
align-items: flex-start;
width: 1450px;
justify-content: flex-end;
}

li{
  display: inline-flex;
  padding: 7px;
  font-weight: bold;
  font-family: Helvetica;
  color: black;

}
#bottomlist{
  font-weight: normal;
  width: 290px;

}
.header{
position: fixed;
top: 0px;
width: 100%;
background-color: #fff;
z-index: 1;
border-bottom: 1px solid black;
display: flex;
flex-wrap: wrap;

}
.imageheader{
display: flex;
}
.mytimes{
  display: flex;
  color: #00cc99;
  font-weight: bold;
  font-family: Helvetica;
  margin-top: 25px;
  margin-left: 7px;
}
.footermain{
background-color: #00cc99;
width: 100%;
padding: 70px;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.bottomtext{
text-align: center;
padding: 10px;
}
.mytimesbottom{
  color: white;
  align-items: center;
  border-right: 2px solid white;
  padding: 7px;
}
